@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes portal {
  0% { opacity: 0; transform: scale(0.7); }
  50% { opacity: 1; transform: scale(1.1); }
  100% { opacity: 0; transform: scale(1.3); }
}

